.education {
    margin-top: 150px;

    }

.education-card {
    margin-top: 50px;
    gap: 40px;
}

.education-logo img {
    width: 200px;
}

.education-title {
    font-size: 2em;
}

.education-content {
    margin-top: 10px;
    font-size: 1.5em;
}

.education-content div {
    margin-top: 20px;
}