:root {
    --primary-color: #0A1532;
    --secondary-color: #3f4b6a;
}

html, body {
    background-color: var(--primary-color);
    color: white;

    overflow-x: hidden;

    padding: 0;
    padding-bottom: 20px;
    padding-left: 40px;
    margin: 0;
}

navbar {
    display: flex;
    flex-direction: row;
    gap: 40px;
    

    background-color: var(--primary-color);
    width: 100vw;
    
    position: fixed;

    padding-top: 15px;
    padding-bottom: 15px;

    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
}

navbar a {
    font-size: 1.5em;
    font-weight: normal;

    color: white;
    text-decoration: none;
    
}

a {
    color: white;
    text-decoration: none;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}